h1 {
    font-size: 48px;
}

h2 {
    font-size: 24px;
}

p {
    font-size: 18px;
}

.navbar {
    .container {
        .navbar-brand {
            background-image: url("../img/nav/nav_logo.png");
            height: 120px;
            width: 100px;
            background-size: cover;
        }
    }
}

#section1 {
    .container-fluid {
        .row {
            .col {
                height: calc(100vh - 136px);
                width: 100%;
                background-color: gray;
            }
        }
    }
}

#section2 {
    background-color: black;

    .container {
        background-color: white;
    }
}

#section3 {
    background-color: gray;

    .container-fluid {
        .row {
            .col {
                height: 50vh;
            }
        }
    }
}

#section4 {
    background-color: black;

    .container {
        background-color: white;

        .row {
            .col {
                h1 {
                    text-align: center;
                }

                h2 {
                    text-align: center;
                }
            }
        }
    }
}

#section5 {
    background-color: white;

    .container {
        .row {
            .col {
                h1 {
                    text-align: center;
                }

                h2 {
                    text-align: center;
                }
            }
        }
    }
}

#section6 {
    background-color: black;
}